html {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 10%;
    color: #fff;
    height: 100%;
    width: 100%;
    background-image: url(bg.png);
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
  height: 100%;
  overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 4.5em;
}

h2 {
    text-align: center;
    margin-top: -.5em;
    font-size: 2.5em;
}

h3 {
    text-align: center;
    font-size: 2em;
    width: 62%;
    margin: 0 auto;
    display: block;
    margin-bottom: -1em
}

a {
    text-decoration: none;
}

button {
    margin: 0 auto;
    margin-top: 6em;
    display: block;
    border: 0;
    background-color: #658181;
    box-shadow: 0 3px 0 0 #5e7977;
    border-radius: 5px;
    cursor: pointer;
    height: 3em;
    width: 10em;
    font-size: 1.2em;
    color: #fff;
}

button:hover {
    background-color: #49bb91;
}

@media screen and (max-width: 1046px) {

    html {
        padding-top: 15%;
    }
    
    html, body {
      overflow-x: hidden;
      position: fixed;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.5em;
        width: 80%;
    }
    
    button {
        margin-top: 4em;
    }
    
}
