html {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    height: 100%;
    background-image: url(sky.gif);
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: hsla(0,0%,0%,0.20);
    background-blend-mode: overlay;
}

body {
  width: 100%;
  overflow: hidden;
}

form {
    padding-top: 8em;
}

a {
    text-decoration: none;
}

#myInput {
    height: 2.5em;
    width: 20em;
    border: none;
    margin-right: 2em;
}

button {
    margin-right: 1em;
    border: 0;
    background-color: #2a3191;
    box-shadow: 0 3px 0 0 #090a5d;
    border-radius: 5px;
    cursor: pointer;
    height: 2.5em;
    width: 9em;
    font-size: 1em;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #172c59;
}