{% load static %}
<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vera</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
        
    </head>
    
    <body>

        <h1>Vera</h1>
        <h2>Let's build a smarter tomorrow.</h2>
        <h3>Using artificial intelligence and machine learning to analyze the validitiy and credibility of statements.</h3>
        
        <a href="/input"><button>Take me there</button></a>
            
    </body>
    
</html>
