<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vera</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>

  <body align="center">

    <divstyle="padding: 50px">
      <form id="myForm">
        <p>
          What do you want to know?
        </p>
        <p>
          <input type="text" id="myInput"><button id="myButton" type="submit">Fact check!</button>
        </p>
    </form>
  </div>

    <!-- save space for truth value output -->
    <div id="infoLabel" style="padding: 20px"></div>
    <script type="text/javascript" src="{% static 'truthEval.js' %}"></script>
  </body>

</html>